**/*[Tt]estTitleData.json*

**/bin/
**/obj/
**/.idea/
**/.idea/
**/.vs/
**/node_modules/
**/beta_*.bat
**/beta_*.sh
**/.DS_Store*

/privateTemplates/

.project
.classpath
*.suo
*.user
*.dat
*.tmp
*.js.map