# PlayFab files
**/beta_*.bat
**/beta_*.sh

# Various editor/tool temporary folders
**/bin/
**/obj/
**/.idea/
**/.idea/
**/.vs/
**/node_modules/

# Mac temp files
**/.DS_Store*

# Various editor/tool temporary folders
.project
.classpath
*.suo
*.user
*.dat
*.tmp
*.js.map
.leu
