<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.24.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net48" />
  <package id="Microsoft.Azure.Kusto.Cloud.Platform" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Azure.Kusto.Cloud.Platform.Aad" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Azure.Kusto.Cloud.Platform.Azure" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Azure.Kusto.Data" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Azure.Kusto.Ingest" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.45.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.20.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Octokit" version="0.51.0" targetFramework="net48" />
  <package id="PlayFabAllSDK" version="1.108.220118" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Memory.Data" version="6.0.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net48" />
</packages>