[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
	branch = OpenSSL_1_1_0-stable
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl.git
